html
  head
    meta(charset="utf-8")
  body

    h1 Lab 1, 2 &mdash; Pixelgrafik (Photoshop)

    table(style="text-align:left;")
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/what-is-photoshop-cs6/") What is Photoshop?
      tr
        th Workspace
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/the-new-photoshop-cs6-interface/") Interface
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/creating-usergenerated-workspaces/") Workspaces
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/preset-migration-and-sharing/") Workspaces presents
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/background-save-and-autorecover/") Background save and Autorecover

      tr
        th Viewing and Zooming images
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/changing-the-photoshop-view/") Photoshop
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/working-with-the-zoom-tool/") Zoom tool

      tr
        th Layers
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/layers-101/") Layers 101
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/exploring-layer-basics/") Layer basics
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/aligning-image-layers/") Image layers
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/backgrounds-vs-layers/") Background vs. Layers
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/merging-layers/") Merging layers
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/blending-modes-101/") Blending modes

      tr
        th Image Adjustments
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/fixing-problems-automatically/") Automatical adjustments
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/auto-corrections/") Auto corrections
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/the-power-of-adjustment-layers/") Power of adjustment layers
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-adjustment-layers-a-basic-workflow/") Using adjustment layers 1
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-adjustment-layers/") Using adjustment layers 2
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/levels-101/") Levels 101
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/dodge-burn-and-sponge-101/") Dodge &mdash; burn and sponge 101
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/working-with-dodge-and-burn/") Dodge and burn 

      tr
        th Cropping and transforming
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-the-new-crop-tool/") Using crop tool
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/understanding-resize-vs-resample/") Resize vs Resample
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/straightening-a-crooked-image/") Straightening a crooked image
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/correcting-perspective/") Correcting perspective
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/lens-aware-adjustments/") Lens-aware adjustments
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/making-nondestructive-transformations-with-smart-objects/") Non-destructive Transformations with Smart Objects

      tr
        th Retouching
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-content-aware-patch/") Content-Aware Patch
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-content-aware-move-and-extend/") Content-Aware Move and Extend
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/removing-unwanted-details-with-contentaware-fill/") Content-Aware Fill

      tr
        th Selecting parts of an image
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/selection-101/") Selection 101
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/selecting-areas-of-a-photo/") Selecting areas
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/basic-selection-techniques-and-options/") Selection techniques and options
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/selecting-soft-edge-objects-with-refine-edge/") Selecting soft edges with Refine Edge
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/adjusting-content-within-a-mask/") Adjusting content within a Mask

      tr
        th Filters
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/overview-of-filters/") Overview of Filters
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/applying-filters-nondestructively-using-smart-filters/") Non-destructive use filters with Smart Filters
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/sharpening-an-image-with-unsharp-mask/") Sharpening an image with Unsharp Mask
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/using-the-new-three-part-blur-gallery/") Blur Gallery 1
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/blur-gallery/") Blur Gallery 2

      tr
        th Saving and sharing
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/saving-for-digital-sharing/") Saving

      tr
        th Typography
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/type-101/") Type 101

      tr
        th Paint and Draw
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/brushes-101/") Brushes 101
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-photoshop-cs6/working-with-vector-based-shape-layers/") Vector-based shape layers






    h1 Lab 3, 4 &mdash; Vektorgrafik (Illustrator)
    table(style="text-align:left;")
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/what-is-illustrator/") What is Illustrator?
      tr
        td
          a(href="https://www.youtube.com/watch?v=Kgmu8RwLi28") 10 things people want to know about Illustrator
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/features-of-the-illustrator-workspace/")  Workspace
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/setting-up-a-new-document/") New document
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/essentials-of-the-pen-and-pencil-tools/") Pen and Pencil tools 
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/using-blob-brush-and-eraser/") Blob brush and eraser
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/creating-objects-with-shape-tools/") Shape tools
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/mastering-the-appearance-panel/") Appearance panel
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/cropping-images-with-clipping-masks/") Clipping masks
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/creating-a-simple-pattern/") Simple patterns
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/creating-a-repeatable-pattern-for-the-web/") Patterns for the web
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/new-image-trace/") Image tracing 1
      tr
        td
          a(href="https://www.youtube.com/watch?v=HvaJS7cHYIU") Image tracing 2
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/gradients-on-strokes/") Gradients on strokes
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/understanding-the-control-panel/") The control panel
      tr
        td
          a(href="http://tv.adobe.com/watch/learn-illustrator-cs6/exploring-the-panel-system/") The panel system
      tr
        td
          a(href="http://guld.moderskeppet.se/kurser/kurs/seriefigurer-i-illustrator/17_M%C3%A5la+former+med+ritstiftet") Att använda ritstiftet

      tr
        td
          a(href="https://www.youtube.com/watch?v=6bgpIGEEEXs") Seamless patterns

      tr
        td
          a(href="https://www.youtube.com/watch?v=XFXJY0a8NiU") 5 interesting features in Illustrator



    h1 Lab 5 &mdash; Audio (garage band)
    table(style="text-align:left;")
      tr
        td
          a(href="https://www.youtube.com/watch?v=7Y_yvmkr2o4") Introduktion till Garageband

