html
  head
    meta(charset="utf-8")
  body

    h1 Lab 1 &mdash; Pixelgrafik
    ol
      li
        a(href="https://www.youtube.com/watch?v=t4yZUbzjp1Q") Introduktion till Photoshop

      li
        a(href="https://www.youtube.com/watch?v=fdDo5LPom8I") Filhantering i Photoshop

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/2_Dags+att+bildbehandla") Första bildbehandlingen (svart/vitt)

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/3_Hitta+runt") Hitta runt i Photoshop

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/4_Fixa+ljuset") Fixa ljuset

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/5_Ljusare+skuggor") Ljusare skuggor

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/6_M%C3%A4ttnad") Mättnad

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/7_Besk%C3%A4r+och+komponera") Beskär och komponera

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/8_R%C3%A4ta+upp+en+horisont") Räta upp en horisont

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/9_G%C3%B6r+flytande") Gör flytande

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/10_Ta+bort+fl%C3%A4ckar") Ta bort fläckar

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/11_%C3%85ngra+dig") Ångra i Photoshop

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/12_Spara+ditt+arbete") Spara filer med Photoshop

      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/13_Minska+ytan+innan+%C3%B6verf%C3%B6ring") Komprimera filer i Photoshop

      li
        a(href="https://www.youtube.com/watch?v=ZkXo7pTRxAo") Friläggning i Photoshop

      li
        a(href="https://www.youtube.com/watch?v=tZDqts3ejCs") Frilägga till ny bakgrund

      li
        a(href="https://www.youtube.com/watch?v=yNlahJ3jCeE") Ljus & korrigeringar

      li
        a(href="http://www.youtube.com/watch?v=OjRqZiAgoHo") 10 things beginners want to know how to do in Photoshop


    h1 Lab 2 &mdash; Pixelgrafik
    ol
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/30_Justeringslager+%C3%A4ger") Intro till Justeringslager
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/31_Skapa+justeringslager+") Arbeta med Justeringslager
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/32_Fotofilter") Fotofilter
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/33_F%C3%A4rgbalans") Färgbalans (i.e. hipsterfilter)
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/34_%C3%96vertoningskarta") Övertoningskarta
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/35_Klon+och+lagning") Klon och Lagning
      li 
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/36_Nya+pixlar") Texthantering I
      li
        a(href="http://guld.moderskeppet.se/kurser/kurs/grunderna-i-photoshop-cs6/37_Text+och+bild") Texthantering II




    h1 Lab 3 &amp; 4 &mdash; Vektorgrafik
    ol
      li
        a(href="https://www.youtube.com/watch?v=Kgmu8RwLi28") 10 things people want to know about Illustrator

      li
        a(href="https://www.youtube.com/watch?v=HvaJS7cHYIU") Automatic Image Tracing

      li
        a(href="https://www.youtube.com/watch?v=6bgpIGEEEXs") Seamless patterns

      li
        a(href="https://www.youtube.com/watch?v=XFXJY0a8NiU") 5 interesting features in Illustrator



    h1 Lab 5 &mdash; Garageband
    ol
      li
        a(href="https://www.youtube.com/watch?v=7Y_yvmkr2o4") Introduktion till Garageband